Source: rtems-bootlib
Section: devel
Priority: extra
Maintainer: Christoph Schröder <christoph.schroeder@helmholtz-berlin.de>
Uploaders: Joachim Rahn <Joachim.Rahn@helmholtz-berlin.de>
Build-Depends: debhelper (>= 7), rtems-debhelper, cdbs,
               rtems-common (>= 4.9.6-1~),
               rtems-mvme2100 (>= 4.9.6-1~), rtems-mvme2307 (>= 4.9.6-1~),
               rtems-mvme3100 (>= 4.9.6-1~), rtems-mvme5500 (>= 4.9.6-1~),
               rtems-pc386 (>= 4.9.6-1~)
Rtems-Depends: rtems
Standards-Version: 3.8.0
Homepage: http://www.helmholtz-berlin.de

Package: rtems-bootlib-mvme2100
Architecture: all
Depends: ${rtems:Depends}
Description: bootline manipulation lib for rtems-bsp mvme2100 
 This rtems library contains routines for manipulating a boot line. 
 Routines are provided to interpret, construct, store 
 and load a boot line.

Package: rtems-bootlib-mvme2307
Architecture: all
Depends: ${rtems:Depends}
Description: bootline manipulation lib for rtems-bsp mvme2307
 This rtems library contains routines for manipulating a boot line. 
 Routines are provided to interpret, construct, store 
 and load a boot line.

Package: rtems-bootlib-mvme3100
Architecture: all
Depends: ${rtems:Depends}
Description: bootline manipulation lib for rtems-bsp mvme3100
 This rtems library contains routines for manipulating a boot line.
 Routines are provided to interpret, construct, store
 and load a boot line.

Package: rtems-bootlib-mvme5500
Architecture: all
Depends: ${rtems:Depends}
Description: bootline manipulation lib for rtems-bsp mvme5500 
 This rtems library contains routines for manipulating a boot line. 
 Routines are provided to interpret, construct, store 
 and load a boot line.

Package: rtems-bootlib-pc386
Architecture: all
Depends: ${rtems:Depends}
Description: bootline manipulation lib for rtems-bsp pc386
 This rtems library contains routines for manipulating a boot line. 
 Routines are provided to interpret, construct, store 
 and load a boot line.
