#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

# Don't strip
DEB_DH_STRIP_ARGS := -Xusr

RV=$(shell cat /usr/share/rtems-common/series)
# /usr/share/rtems-common/series only available since rtems-common-4.9.3-5
# IF it is not available THEN set RV to 4.9 by default
#
ifeq (x$(RV),x)
RV=4.9
endif


# $1 is bsp name (ie mvme3100)
define bsprule

# This install prefix w/ arch
# This will be /usr/powerpc-rtems4.10/mvme3100 or similar
$1_bspbase=$(dir $(wildcard /usr/*-rtems$(RV)/$1/Makefile.inc))

build/rtems-bootlib-$(1):: build-$(1)-stamp

build-$(1)-stamp:

	$(MAKE) ARCH=x-$(1) RTEMS_MAKEFILE_PATH=$$($1_bspbase)

	touch $$@

install/rtems-bootlib-$(1)::
	install -d $(CURDIR)/debian/tmp$$($1_bspbase)/bin
	$(MAKE) ARCH=x-$(1) RTEMS_MAKEFILE_PATH=$$($1_bspbase) \
RTEMS_SITE_INSTALLDIR=$(CURDIR)/debian/tmp$$($1_bspbase) \
INSTINCDIR=$(CURDIR)/debian/tmp$$($1_bspbase)/lib/include \
install

endef

$(foreach p,$(DEB_INDEP_PACKAGES),$(eval $(call bsprule,$(p:rtems-bootlib-%=%))))

build-%:

	$(MAKE) ARCH=x-$(@:build-%=%) RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$(@:build-%=%)

	touch $@

install-%::
	$(MAKE) ARCH=x-$(@:install-%=%) RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$(@:install-%=%) \
RTEMS_SITE_INSTALLDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$(@:install-%=%) \
INSTINCDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$(@:install-%=%)/lib/include \
install

common-binary-fixup-indep::
	dh_rtems

clean::
	rm -f build-*
	rm -rf x-*
